* a {
  text-decoration: none;
}

.nav-bar {
  border: 1px solid rgb(227, 221, 221);
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar .btn-nav {
  border: #ff3d71;
  background-color: #ff3d71;
  color: #ffffff;
  border-radius: 8px;
  width: 93px;
  height: 40px;
  margin-left: 10px;
}
.nav-bar .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .left-side img {
  margin-left: 10px;
}
.nav-bar .center-of-nav {
  display: none;
}
.nav-bar .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .right-side .nav-input {
  display: none;
}

@media (min-width: 992px) {
  .nav-bar .right-side .nav-input {
    height: 40px;
    width: 113px;
    border-radius: 8px;
    border: 1px solid #c5cee0;
    text-align: center;
    margin-left: 24px;
    font-family: Euclid Circular A;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: #2E3A59;
    display: inline-block;
  }
  .nav-bar {
    border: none;
  }
  .nav-bar .burger {
    display: none;
  }
  .nav-bar .btn-nav {
    width: 155px;
    height: 40px;
  }
  .nav-bar .center-of-nav {
    display: flex;
    gap: 48px;
  }
  .nav-bar .center-of-nav a {
    height: 24px;
    width: 39px;
    font-family: Euclid Circular A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E3A59;
  }
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 24px;
  background-color: #f7f9fc;
}
.footer-box .row1 {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 24px;
}
.footer-box .row1 .footer-col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.footer-box .row1 .footer-col1 p {
  width: 328px;
  height: 48px;
  padding-left: 37px;
}
.footer-box .row1 .footer-col {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.footer-box .row1 .footer-col .foothead {
  margin-top: 40px;
  font-family: Euclid Circular A;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  font-weight: 600;
  text-align: center;
  color: #2E3A59;
}
.footer-box .row1 .footer-col .mail {
  padding-left: 60px;
  padding-bottom: 38px;
}
.footer-box .row1 .footer-col .logo {
  margin-right: 16px;
}
.footer-box .row1 .footer-col h6 {
  height: 24px;
  width: 134px;
  text-align: center;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2E3A59;
}
.footer-box .row2 {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid #EDF1F7;
}
.footer-box .row2 .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}
.footer-box .row2 .copyright img {
  position: relative;
  right: 33px;
  top: 22px;
}
.footer-box .row2 .privacy {
  display: none;
}

@media (min-width: 992px) {
  .footer-box {
    padding-top: 9px;
  }
  .footer-box .row1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer-box .row1 .footer-col1 {
    margin-top: 38px;
  }
  .footer-box .row1 .footer-col1 p {
    width: 208px;
    margin-right: 105px;
  }
  .footer-box .row1 .footer-col1 .logo-box {
    margin-right: 120px;
  }
  .footer-box .row1 .footer-col1 .logo-box .logo {
    padding-right: 10px;
  }
  .footer-box .row1 .footer-col .foothead {
    text-align: left;
  }
  .footer-box .row1 .footer-col h6 {
    text-align: left;
  }
  .footer-box .row1 .footer-col .mail {
    padding-left: 0px;
    padding-bottom: 100px;
  }
  .footer-box .row1 .footer-col .social-media {
    position: relative;
    bottom: 70px;
    right: 5px;
  }
  .footer-box .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-top: none;
  }
  .footer-box .row2 .copyright {
    margin-bottom: 30px;
  }
  .footer-box .row2 .privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
  }
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 .container1 {
  width: 90%;
  padding: 20px;
  margin-top: 30px;
}
.box1 .container1 .head1 {
  text-align: center;
  width: 100%;
  margin-bottom: 24px;
}
.box1 .container1 .head1 h1 {
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
  color: #222b45;
  margin-bottom: 32px;
}
.box1 .container1 .head1 span {
  color: #ff3d71;
}
.box1 .container1 p {
  font-family: Euclid Circular A;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #8f9bb3;
  margin-bottom: 24px;
}
.box1 .container1 .btns1 {
  display: none;
}
.box1 .container1 .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box1 .container1 .btn2-watch-video {
  margin-top: 24px;
  border: 1px solid #0095ff;
  color: #0095ff;
  background-color: #ffffff;
}
.box1 .container1 button {
  width: 248px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 24px;
}
.box1 .container1 .btn2-try-now {
  border: 1px solid #0095ff;
  color: #ffffff;
  background-color: #0095ff;
}

.bg-pink {
  background: url("../../images/Rectangle 8.png");
}
.bg-pink p {
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
  position: relative;
  bottom: 35px;
}
.bg-pink .drop {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 40px;
}

.benefits {
  margin-top: 56px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.benefits .left {
  width: 90%;
}
.benefits .left a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Euclid Circular A;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #0095ff;
}
.benefits .left h4 {
  text-align: center;
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
  margin-bottom: 16px;
  margin-top: 24px;
}
.benefits .left p {
  text-align: center;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2E3A59;
  color: #8f9bb3;
}
.benefits .right {
  margin-top: 40px;
}

.benefit-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.benefit-cards .benefit-card {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}
.benefit-cards .benefit-card h5 {
  font-family: Euclid Circular A;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
  margin-top: 20px;
  width: 232px;
}
.benefit-cards .benefit-card p {
  font-family: Euclid Circular A;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
}

.social-networks {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #ffd6d9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-networks .part1 {
  width: 90%;
  margin-bottom: 48px;
  padding-bottom: 0px;
}
.social-networks .part1 h2 {
  margin-bottom: 20px;
  font-family: Euclid Circular A;
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  color: #2E3A59;
  text-align: left;
}
.social-networks .part1 p {
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2E3A59;
  text-align: left;
}
.social-networks .part1 .btn-lg {
  display: none;
}
.social-networks .part2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.social-networks .part2 .social-network-card {
  min-height: 96px;
  max-width: 328px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 15px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  background-color: #ffffff;
}
.social-networks .part2 .social-network-card h1 {
  font-family: Euclid Circular A;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E3A59;
}
.social-networks .part2 .social-network-card p {
  font-family: Euclid Circular A;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.social-networks .btn-mobile {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  background-color: #0095ff;
  border: 1px solid #0095ff;
  color: #ffffff;
  margin-top: 56px;
  margin-bottom: 24px;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.features-box .features-container {
  padding-bottom: 80px;
  padding-top: 80px;
}
.features-box .features-container .head {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.features-box .features-container .head h1 {
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  height: 32px;
  width: 328px;
  color: #2E3A59;
}
.features-box .features-container .head p {
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  height: 48px;
  width: 328px;
  color: #8f9bb3;
}
.features-box .features-container .row img {
  height: 224px;
  width: 270px;
}
.features-box .features-container .info {
  height: 224px;
  width: 328px;
}
.features-box .features-container h1 {
  font-family: Euclid Circular A;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  height: 56px;
  width: 296px;
  color: #2E3A59;
}
.features-box .features-container p {
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E3A59;
  height: 168px;
  width: 328px;
}
.features-box .features-container .btn-features {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-box .features-container .btn-features button {
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  height: 48px;
  width: 213px;
  background-color: #0095ff;
  color: #ffffff;
  border-radius: 8px;
  border: #0095ff;
  padding: 12px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff708d;
  height: 706px;
}
.rating h1 {
  height: 64px;
  width: 61px;
  font-family: Euclid Circular A;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.rating p {
  height: 28px;
  width: 166px;
  font-family: Euclid Circular A;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.rating .rate-boxes {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rating .rate-box {
  margin-top: 52px;
  height: 100px;
  width: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rating .transparent-img .img1 {
  position: relative;
  top: 65px;
}
.rating .transparent-img .img2 {
  display: none;
}
.rating .transparent-img .img3 {
  display: none;
}

.map-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}
.map-box h1 {
  height: 64px;
  width: 328px;
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
}
.map-box p {
  margin-bottom: 44px;
  height: 48px;
  width: 328px;
  color: #8f9bb3;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.map-box img {
  height: 175px;
}

.comments-box {
  background-color: #f7f9fc;
  padding-top: 56px;
  padding-bottom: 96px;
}
.comments-box .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 56px;
}
.comments-box .info h1 {
  height: 64px;
  width: 327px;
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
}
.comments-box .info p {
  height: 168px;
  width: 328px;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E3A59;
}
.comments-box .profile {
  margin-top: 56px;
  margin-left: 36px;
  height: 56px;
  gap: 16px;
  display: flex;
}
.comments-box .profile h1 {
  height: 28px;
  width: 129px;
  font-family: Euclid Circular A;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E3A59;
}
.comments-box .profile p {
  height: 24px;
  width: 160px;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #8f9bb3;
}
.comments-box .scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.comments-box .previous {
  display: none;
}
.comments-box .next {
  display: none;
}

.creative-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding-top: 64px;
  padding-bottom: 120px;
}
.creative-box .creative-head h1 {
  height: 64px;
  width: 328px;
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
}
.creative-box .creative-head a {
  display: none;
}
.creative-box .creative-head img {
  display: none;
}
.creative-box .creative-cards .creative-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0px 16px 32px 0px rgba(118, 127, 154, 0.0784313725);
  width: 328px;
  height: 379px;
  filter: drop-shadow(0px 16px 32px rgba(118, 127, 154, 0.08));
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.creative-box .creative-cards .creative-card h1 {
  height: 56px;
  width: 296px;
  font-family: Euclid Circular A;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E3A59;
}
.creative-box .creative-cards .creative-card .btn-box {
  display: flex;
  gap: 16px;
  padding: 0px 0px 0px 16px;
}
.creative-box .creative-cards .creative-card .btn-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: white;
  padding: 6px 16px 6px 16px;
  border: 1px solid #c5cee0;
  font-family: Euclid Circular A;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E3A59;
}
.creative-box .creative-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  gap: 8px;
}
.creative-box .creative-link a {
  color: #0095ff;
}
.creative-box .subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  padding-top: 40px;
}
.creative-box .subscribe h1 {
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
  height: 64px;
  width: 198px;
}
.creative-box .subscribe input {
  height: 48px;
  width: 308px;
  border: 1px solid #e4e9f2;
  border-radius: 8px;
  margin-top: 6px;
  font-family: Euclid Circular A;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #8f9bb3;
  padding-left: 20px;
}
.creative-box .subscribe .input-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.creative-box .subscribe .input-btn button {
  height: 48px;
  width: 326px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #3366FF;
  background-color: #3366FF;
  color: #ffffff;
  font-family: Euclid Circular A;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

.accordion-box .accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 96px;
}
.accordion-box .accordion h1 {
  height: 32px;
  width: 322px;
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E3A59;
}
.accordion-box .accordion .accordion-section img {
  display: none;
}
.accordion-box .accordion .accordion-section a {
  height: 76px;
  width: 280px;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2E3A59;
}
.accordion-box .accordion .accordion-section p {
  height: 264px;
  width: 280px;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2E3A59;
  background-color: #ffffff;
}
.accordion-box .accordion .accordion-section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.accordion-box .accordion .accordion-section a {
  display: block;
  padding: 10px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.accordion-box .accordion .accordion-section a:hover {
  background-color: #eee;
}
.accordion-box .accordion .accordion-content {
  display: none;
  padding: 10px;
}
.accordion-box .accordion .accordion-content:target {
  display: block;
}

.finally-end-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.finally-end-box .finally-end-container {
  height: 509px;
  width: 90%;
  border-radius: 16px;
  background-color: #ff708d;
  padding-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.finally-end-box .finally-end-container .finally-end .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.finally-end-box .finally-end-container .finally-end img {
  position: relative;
  top: 10px;
}
.finally-end-box .finally-end-container .finally-end h1 {
  height: 80px;
  width: 280px;
  font-family: Euclid Circular A;
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.finally-end-box .finally-end-container .finally-end p {
  height: 96px;
  width: 280px;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2E3A59;
  color: #ffffff;
}
.finally-end-box .finally-end-container .finally-end .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 24px;
  position: relative;
  top: 30px;
}
.finally-end-box .finally-end-container .finally-end .btns button {
  height: 48px;
  width: 280px;
  border-radius: 8px;
  padding: 12px;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.finally-end-box .finally-end-container .finally-end .btns .light {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #2E3A59;
}
.finally-end-box .finally-end-container .finally-end .btns .dark {
  border: 1px solid #2E3A59;
  background-color: #2E3A59;
  color: #ffffff;
}

@media (min-width: 768px) {
  .social-networks .part2 {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .social-networks .part2 .social-network-card {
    padding-right: 15px;
    min-height: 96px;
    max-width: 328px;
  }
}
@media (min-width: 992px) {
  .box1 .container1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .box1 .container1 .head1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .box1 .container1 .head1 h1 {
    font-size: 60px;
    line-height: 72px;
    text-align: center;
  }
  .box1 .container1 .head1 p {
    width: 800px;
    margin-left: 60px;
  }
  .box1 .container1 .schedule-img {
    display: flex;
    justify-content: center;
  }
  .box1 .container1 .schedule-img img {
    height: 577px;
    width: 768px;
    border-radius: 16px;
    position: relative;
    top: 110px;
  }
  .box1 .container1 .btns {
    display: none;
  }
  .box1 .container1 .btns1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .box1 .container1 .btn-watch-video {
    border: 1px solid #0095ff;
    color: #0095ff;
    background-color: #ffffff;
  }
  .box1 .container1 button {
    width: 248px;
    height: 48px;
    border-radius: 8px;
    padding: 12px;
    margin-top: 70px;
  }
  .box1 .container1 .btn-try-now {
    border: 1px solid #0095ff;
    color: #ffffff;
    background-color: #0095ff;
  }
  .box1 .container1 p {
    font-size: 16px;
    line-height: 24px;
  }
  .bg-pink {
    height: 496px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg-pink .semi-oval {
    display: none;
  }
  .bg-pink p {
    width: 800px;
    text-align: center;
    position: static;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
  }
  .bg-pink .drop {
    top: 100px;
  }
  .benefits {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .benefits .left {
    width: 384px;
  }
  .benefits .left h4 {
    text-align: left;
    font-family: Euclid Circular A;
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    color: #2E3A59;
    margin-bottom: 24px;
    margin-top: 25px;
  }
  .benefits .left a {
    justify-content: flex-start;
  }
  .benefits .left p {
    text-align: left;
  }
  .benefit-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 82px;
  }
  .benefit-cards .benefit-card {
    width: calc((100% - 160px) / 3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
    gap: 32px;
  }
  .benefit-cards .benefit-card p {
    height: 100px;
    max-width: 370px;
    padding: 0px 8px 0px 8px;
  }
  .social-networks {
    padding-top: 123px;
    padding-bottom: 101px;
  }
  .social-networks .part1 {
    display: flex;
    justify-content: space-between;
    width: 78%;
    padding-bottom: 64px;
  }
  .social-networks .part1 .btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 48px;
    padding: 12px;
    border-radius: 8px;
    background-color: #0095ff;
    border: 1px solid #0095ff;
    color: #ffffff;
  }
  .social-networks .part2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
  }
  .social-networks .part2 .social-network-card {
    max-width: 260px;
    height: 116px;
    padding-right: 15px;
  }
  .social-networks .btn-mobile {
    display: none;
  }
  .features-box .features-container {
    padding-bottom: 107px;
    padding-top: 144px;
  }
  .features-box .features-container .head {
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .features-box .features-container .head h1 {
    font-size: 34px;
    line-height: 40px;
    height: 40px;
    width: 328px;
  }
  .features-box .features-container .head p {
    width: 384px;
  }
  .features-box .features-container .row2 {
    flex-direction: row-reverse;
  }
  .features-box .features-container .row {
    display: flex;
    gap: 153px;
  }
  .features-box .features-container .row .info {
    height: 144px;
    width: 384px;
    margin-top: 55px;
  }
  .features-box .features-container .row .info1 {
    position: relative;
    left: 80px;
  }
  .features-box .features-container .row .info2 {
    position: relative;
    left: 100px;
    margin-right: 100px;
  }
  .features-box .features-container .row .info3 {
    position: relative;
    left: 110px;
  }
  .features-box .features-container .row img {
    margin-bottom: 152px;
  }
  .features-box .features-container .row img:hover {
    transform: scale(1.5);
  }
  .features-box .features-container .row h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .rating {
    flex-direction: column;
    height: 340px;
  }
  .rating h1 {
    height: 120px;
    width: 122px;
    font-size: 96px;
    line-height: 120px;
  }
  .rating .rate-boxes {
    display: flex;
    flex-direction: row;
    gap: 240px;
  }
  .rating .rate-box {
    height: 148px;
    position: relative;
    top: 30px;
  }
  .rating .transparent-img {
    display: flex;
    gap: 75px;
  }
  .rating .transparent-img .img1 {
    top: 15px;
  }
  .rating .transparent-img .img2 {
    display: flex;
    position: relative;
    top: 15px;
  }
  .rating .transparent-img .img3 {
    display: flex;
    position: relative;
    top: 15px;
  }
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-container .map-box {
    padding-top: 96px;
    padding-bottom: 69px;
    width: 800px;
    height: 596px;
  }
  .map-container .map-box img {
    height: 428px;
    width: 800px;
  }
  .map-container .map-box h1 {
    height: 40px;
    width: 591px;
  }
  .map-container .map-box p {
    height: 48px;
    width: 384px;
  }
  .comments-box {
    padding-top: 64px;
    padding-bottom: 188px;
    position: relative;
  }
  .comments-box .info {
    gap: 72px;
  }
  .comments-box .info h1 {
    height: 80px;
    width: 591px;
    font-size: 34px;
    line-height: 40px;
  }
  .comments-box .info p {
    text-align: center;
    height: 96px;
    width: 592px;
  }
  .comments-box .profile {
    height: 56px;
    width: 232px;
    display: flex;
    position: absolute;
    left: 570px;
    margin-top: 58px;
  }
  .comments-box .previous {
    display: flex;
    position: absolute;
    bottom: 47%;
    left: 16%;
  }
  .comments-box .next {
    display: flex;
    position: absolute;
    left: 80%;
    bottom: 47%;
  }
  .comments-box .scroll {
    display: none;
  }
  .creative-box .creative-head {
    display: flex;
    gap: 545px;
  }
  .creative-box .creative-head .right-side {
    display: flex;
  }
  .creative-box .creative-head .right-side a {
    width: 127px;
    height: 24px;
    color: #0095ff;
  }
  .creative-box .creative-head .right-side img {
    position: relative;
    bottom: 10px;
    right: 14px;
  }
  .creative-box .creative-head h1 {
    height: 40px;
    width: 544px;
    font-family: Euclid Circular A;
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    color: #2E3A59;
  }
  .creative-box .creative-head a {
    display: flex;
  }
  .creative-box .creative-head img {
    display: flex;
  }
  .creative-box .creative-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .creative-box .creative-cards .creative-card {
    width: 384px;
    height: 416px;
    padding-bottom: 22px;
  }
  .creative-box .creative-cards .creative-card img {
    height: 248px;
    width: 384px;
    border-radius: 0px;
    padding: 8px 8px 0px 8px;
  }
  .creative-box .creative-cards .creative-card h1 {
    width: 352px;
  }
  .creative-box .creative-cards .creative-card .btn-box {
    position: relative;
    right: 60px;
  }
  .creative-box .creative-cards .creative-card .btn-box button {
    width: 116px;
    border-radius: 4px;
  }
  .creative-box .creative-link {
    display: none;
  }
  .creative-box .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 96px;
  }
  .creative-box .subscribe h1 {
    height: 32px;
    width: 322px;
  }
  .creative-box .subscribe .input-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .creative-box .subscribe .input-btn input {
    width: 388px;
    padding-left: 20px;
  }
  .creative-box .subscribe .input-btn button {
    width: 176px;
  }
  .accordion-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion-box .accordion {
    height: 844px;
    width: 800px;
  }
  .accordion-box .accordion h1 {
    height: 40px;
    width: 591px;
    font-size: 34px;
    line-height: 40px;
  }
  .accordion-box .accordion .accordion-section {
    height: 93px;
    width: 800px;
  }
  .accordion-box .accordion .accordion-section img {
    display: flex;
    position: relative;
    left: 95%;
    bottom: 50%;
  }
  .accordion-box .accordion .accordion-section a {
    height: 28px;
    width: 614px;
    font-size: 20px;
    line-height: 28px;
  }
  .accordion-box .accordion .accordion-section p {
    height: 144px;
    width: 648px;
  }
  .finally-end-box {
    margin-bottom: 112px;
  }
  .finally-end-box .finally-end-container {
    height: 240px;
    padding-top: 0px;
  }
  .finally-end-box .finally-end-container .finally-end {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
  .finally-end-box .finally-end-container .finally-end .info {
    gap: 16px;
  }
  .finally-end-box .finally-end-container .finally-end h1 {
    height: 64px;
    width: 494px;
    font-size: 48px;
    line-height: 48px;
    margin-right: 30px;
  }
  .finally-end-box .finally-end-container .finally-end p {
    height: 48px;
    width: 528px;
  }
  .finally-end-box .finally-end-container .finally-end img {
    display: none;
  }
  .finally-end-box .finally-end-container .finally-end .btns {
    flex-direction: row;
    margin-top: 0px;
    position: relative;
    top: 0px;
  }
  .finally-end-box .finally-end-container .finally-end .btns button {
    height: 48px;
    width: 174px;
  }
}/*# sourceMappingURL=home.css.map */