.heading-main {
  @include center;
  margin-top: 24px;
  h1 {
    height: 32px;
    width: 49px;
    @include mobile-head;
  }
}
.finally-end-box {
  display: none;
}

@media (min-width: $desktop) {
  .accordion-box {
    margin-top: 48px;
  }
  .finally-end-box {
    @include center;
    padding-bottom: 104px;
    padding-top: 120px;
    .finally-end-container {
      height: 240px;
      width: 90%;
      border-radius: 16px;
      background-color: $pink400;
      padding-top: 0px;
      @include center;
      .finally-end {
        display: flex;
        width: 90%;
        justify-content: space-between;
        .info {
         display: flex;
         align-items: flex-start;
          gap: 16px;
          flex-direction: column;
        }
        h1 {
          height: 64px;
          width: 494px;
font-family: Euclid Circular A;
font-size: 48px;
font-weight: 600;
line-height: 64px;
letter-spacing: 0em;
          text-align: left;
          color: $secondary;
        }
        p {
          height: 48px;
          width: 528px;
          @include paragraph-font;
          color: $secondary;
        }
        img {
          display: none;
        }
        .btns {
          flex-direction: row;
          margin-top: 0px;
          position: relative;
          top: 0px;
          @include center;
          gap: 24px;
          button {
            height: 48px;
            width: 174px;
            border-radius: 8px;
            padding: 12px;
            font-family: Euclid Circular A;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
          }
          .light {
            border: 1px solid $secondary;
            background-color: $secondary;
            color: $primary;
          }
          .dark {
            border: 1px solid $primary;
            background-color: $primary;
            color: $secondary;
          }
        }
      }
    }
  }
  .footer-box{
    .copyright{
      padding-top: 20px;
      img{
      padding-bottom: 20px; }
    }
    
  }
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  border-color: unset !important;
  box-shadow: none !important;
}
